<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xieyv.lighthome.web.app.mapper.RoomInfoMapper">
    <select id="selectMinRentByCommunityId" resultType="java.math.BigDecimal">
        select min(rent)
        from room_info
        where is_deleted=0 and community_id=#{id}
    </select>

    <resultMap id="RoomItemVoMap" type="com.xieyv.lighthome.web.app.vo.room.RoomItemVo" autoMapping="true">
        <id property="id" column="room_id"/>
        <association property="communityInfo" javaType="com.xieyv.lighthome.model.entity.CommunityInfo" autoMapping="true">
            <id property="id" column="community_id"/>
        </association>
    </resultMap>
    <select id="selectByQueryVo" resultMap="RoomItemVoMap">
        select
            ri.id as room_id,
            ri.room_number,
            ri.rent,
            ci.id as community_id,
            ci.name,
            ci.introduction,
            ci.district_id,
            ci.district_name,
            ci.city_id,
            ci.city_name,
            ci.province_id,
            ci.province_name,
            ci.address_detail,
            ci.latitude,
            ci.longitude,
            ci.phone,
            ci.is_release
        from room_info as ri
                 left join community_info as ci
                           on ri.community_id=ci.id and ci.is_deleted=0
        <where>
            and ri.is_deleted=0
            <if test="queryVo.provinceId != null">
                and ci.province_id=#{queryVo.provinceId}
            </if>
            <if test="queryVo.cityId != null">
                and ci.city_id=#{queryVo.cityId}
            </if>
            <if test="queryVo.districtId != null">
                and ci.district_id=#{queryVo.districtId}
            </if>
            <if test="queryVo.minRent != null">
                and ri.rent >= #{queryVo.minRent}
            </if>
            <if test="queryVo.maxRent != null">
                and ri.rent &lt;= #{queryVo.maxRent}
            </if>
        </where>
        <if test="queryVo.orderType != null">
            order by ri.rent #{queryVo.orderType}
        </if>


    </select>
    <select id="selectByRoomId" resultType="com.xieyv.lighthome.web.app.vo.room.RoomItemVo">
        select id,
               concat(room_number,',',community_id) as room_number,
               rent
        from room_info
        where is_deleted=0
    </select>

</mapper>
